@font-face {
    font-family: Sen-Regular;
    src: url(http://localhost:83/assets/fonts/Sen-Regular.ttf);
}

body {
    font-family: Sen-Regular;
}

.parents-info-list > .container-head > h4 {
    font-size: 18px;
    font-weight: bold;
    color: rgba(48, 47, 47, 0.76);
}